<div class="container-fluid">
    <div class="row m-5">
        <div class="card col-lg-4 col-ms-12">
            <img src="../../assets/cream.png" class="card-img-top" alt="...">
            <div class="text-center text-light back-color p-5">
                <h4>&nbsp;&nbsp;Cream&nbsp;&nbsp;</h4>
                <button class="btn btn-outline-light">See More</button>
            </div>
        </div>

        <div class="card col-lg-4 col-ms-12">
            <img src="../../assets/makeup.jpg" class="card-img-top" alt="...">
            <div class="text-center text-light back-color p-5">
                <h4>makeUp&nbsp;</h4>
                <button class="btn btn-outline-light">See More</button>
            </div>
        </div>

        <div class="card col-lg-4 col-ms-12">
            <img src="../../assets/SkinCare.webp" class="card-img-top" alt="...">
            <div class="text-center text-light back-color p-5">
                <h4>SkinCare</h4>
                <button class="btn btn-outline-light">See More</button>
            </div>
        </div>
    </div>
</div>

