<div class="container-fluid">
    <div class="row m-5" style="height: 18rem;">
        <div class="card col-md-6 col-ms-12" >
            <img src="../../assets/cream.png" class="card-img-top" alt="...">
            <div class="text-center text-light back-color p-5">
                <h4>Body Lotion</h4>
                <button class="btn btn-outline-light">See More</button>
            </div>
        </div>

        <div class="card col-md-6 col-ms-12">
            <img src="../../assets/makeup.jpg" class="card-img-top" alt="...">
            <div class="text-center text-light back-color p-5">
                <h4>White Cream</h4>
                <button class="btn btn-outline-light">See More</button>
            </div>
        </div>
    </div>
</div>
