<div class="container-fluid">
    <div class="row m-5">
        <h2 class="text-center"> Best Seller</h2>
        <div class="card col-lg-4 col-ms-12" style="width: 18rem;">
            <img src="../../assets/eyeliner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>EyeLiner</h5>
                <p class="card-text">20$.</p>
            </div>
        </div>

        <div class="card col-lg-4 col-ms-12" style="width: 18rem;">
            <img src="../../assets/eyeshadow.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>EyeShadow</h5>
                <p class="card-text">20$.</p>
            </div>
        </div>

        <div class="card col-lg-4 col-ms-12" style="width: 18rem;">
            <img src="../../assets/Gloss.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Gloss</h5>
                <p class="card-text">20$.</p>
            </div>
        </div>

        <div class="card col-lg-4 col-ms-12" style="width: 18rem;">
            <img src="../../assets/mascara.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Mascara</h5>
                <p class="card-text">20$.</p>
            </div>
        </div>
    </div>
</div>

<app-cream-types></app-cream-types>